$position: absolute;
$size: 100%;
$text: center;
$fontcolour: #fff;
$line-height: 1.5;
$colour: #df6e35;
$background: transparent; 

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

 .nav-item {
  margin-bottom: -1px;
}



.nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

 .nav-link:hover, .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

nav #myNavbar li a {
  color: white !important;
  float: right !important;
  }

.navbar-inverse
{
 border: none;
 margin:0;
 background: $background;
 padding-left: 20px;
 padding-bottom: 20px;
}

.navbar-brand {
   font-weight: 700;
   padding-top: 0.3125rem;
   padding-bottom: 0.3125rem;
   margin-right: 1rem;
   line-height: inherit;
   white-space: nowrap;
   display: inline-block;
}



#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s ease;
  background-color: transparent;
}



#mainNav .navbar-brand {
  font-weight: 700;
  font-size: 18px;
  color: $fontcolour;
}


#mainNav .navbar-nav .nav-item .nav-link {
  font-weight: 700;
  font-size: 0.9rem;
  display: inline-block;
  
}


nav .navbar-nav ul {
  float: right;
  font-size: 18px;
  padding: 0.75rem;
  
}

.navbar {
display: inline;
}

.header {
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0%, rgba(92, 77, 66, 0.6) 100%), url('../images/notebook-1280538_1920.jpg');
	background-attachment: scroll;
	background-size: cover;
	background-position: $text;
	height: $size;
}


.title  {
  color: $fontcolour;
  width: $size;
  padding-top: 200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  line-height: $line-height;
  font-size: 20px;
  font-family: 'Hammersmith One', sans-serif;
}

.align-items-center {
    align-items: $text !important;
  }

  .text-center {
    text-align: $text !important;
  }

  .text-white-75 {
    color: rgba(255, 255, 255, 0.75);
  }

  .font-weight-light {
    font-weight: 300 !important;
  }

hr.divider {
    margin-top: 1rem;
    margin-bottom: 4rem;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    max-width: 3.25rem;
    border-width: 0.2rem;
    margin: auto;
}

.my-3 {
  border-top: 2px solid rgb(248, 109, 39);
}

.my-4 {
  border-top: 2px solid rgb(255, 255, 255);
}


.btn.btn-outline-secondary {
  padding: 10px;
  display: block;
  margin: auto;
}  

#button {
	padding-bottom: 200px;
  }

  .btn.btn-outline-secondary {
    padding: 10px;
    display: block;
    margin: auto;
  } 

  .btn.btn-outline-secondary,
#submit,
a.button {
  color: $fontcolour;
  letter-spacing: 1px;
  font-size: 12px;
  height: 40px;
  width: 140px;
  border-radius: 30px;
  background: $colour;
  transition: all 0.3s ease 0s;
  &:hover {
  	color: $fontcolour;
  	-webkit-transform: scale(0.8);
  	-ms-transform: scale(0.8);
  	transform: scale(0.8);
  }
}

#about {
  background: $colour;
  height: 450px;
  p {
    font-size: 16px;
  }
}

#aboutTitle {
  padding-top: 50px;
  padding-left: 10px;
}

 h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-black-50 {
  color: rgba(5, 0, 0, 0.5) !important;
}


#skills {
  height: 500px;
  h3 {
    font-size: 16px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem !important;
  }
  .mainText {
    font-size: 14px;
    color: #6c757d !important;
  }
}

.text-primary {
  margin-top: 70px;
  color: $colour !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

#portfolio {
  height: height auto;
}

.project-name {
  color: #fff;
}

.overlay {
  display: none;
 }
 
.image {
  position:relative;
  display:inline-block;
}
.image:hover .overlay {
  position: absolute;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  bottom: 0;
  text-align: center;
  color: #fff;
  opacity: 0.9;
  background: rgb(248, 109, 39);
  transition: opacity 0.25s ease;
  text-align: center;
}

.image a {
  text-decoration: none;
}

#contact {
  background: rgb(54,69,79);
  height: 550px;
}

form {
  text-align: $text;
  margin-top: 6px;
  margin-bottom: 16px;
}

input,
select,
textarea {
  color: #000;
  &:focus {
  	color: $fontcolour;
  }
}


#message {
  color: #000;
  margin-bottom: 15px;
  padding-left: 20px;
  background: #d3d3d3;
  height: 100px;
  font-size: 16px;
  width: 250px;
}

#contactname,
#email
{
  margin-bottom: 15px;
  color: #000;
  padding-left: 20px;
  background:#d3d3d3;
  height: 40px;
  width: 250px;
  font-size: 16px;
}

#myFooter {
  height: 100px;
}

#social {
  padding-top: 20px;
  padding-left: 40px;
}

.mySocial {
  color: $colour !important;
}

.copyrightText {
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
}